<div id="profilePage">
  <div id="leftCol">
    <div id="photo"></div>
    <div id="profileOptions">
      <%= @user.email %>
    </div>
  </div>
  <div id="info">
    <% if current_user? @user %>
        <%= simple_form_for @user.profile, remote: true do |f| %>
            <p>
              <strong><%= t 'Name' %>:</strong>
              <span><%= @user.profile.name %></span>
              <%= link_to '#', class: 'edit_info' do %>
                  <%= image_tag image_path('userfield_edit.gif') %>
              <% end %>
              <%= f.text_field :name, class: 'hidden' %>
            </p>

            <p>
              <strong><%= t 'Interests' %>:</strong>
              <span><%= @user.profile.interests %></span>
              <%= link_to '#', class: 'edit_info' do %>
                  <%= image_tag image_path('userfield_edit.gif') %>
              <% end %>
              <%= f.text_field :interests, class: 'hidden' %>
            </p>

            <p>
              <strong><%= t 'Experience' %>:</strong>
              <span><%= @user.profile.exp %></span>
              <%= link_to '#', class: 'edit_info' do %>
                  <%= image_tag image_path('userfield_edit.gif') %>
              <% end %>
              <%= f.text_field :exp, class: 'hidden' %>
            </p>

            <p>
              <strong><%= t 'About me' %>:</strong>
              <span><%= @user.profile.about_me %></span>
              <%= link_to '#', class: 'edit_info' do %>
                  <%= image_tag image_path('userfield_edit.gif') %>
              <% end %>
              <%= f.text_field :about_me, class: 'hidden' %>
            </p>

            <p>
              <strong><%= t 'Signature' %>:</strong>
              <span><%= @user.profile.signature %></span>
              <%= link_to '#', class: 'edit_info' do %>
                  <%= image_tag image_path('userfield_edit.gif') %>
              <% end %>
              <%= f.text_field :signature, class: 'hidden' %>
            </p>
        <% end %>
    <% else %>
        <p>
          <strong><%= t 'Name' %>:</strong>
          <span><%= @user.profile.name %></span>
        </p>

        <p>
          <strong><%= t 'Interests' %>:</strong>
          <span><%= @user.profile.interests %></span>
        </p>

        <p>
          <strong><%= t 'Experience' %>:</strong>
          <span><%= @user.profile.exp %></span>
        </p>

        <p>
          <strong><%= t 'About me' %>:</strong>
          <span><%= @user.profile.about_me %></span>
        </p>

        <p>
          <strong><%= t 'Signature' %>:</strong>
          <span><%= @user.profile.signature %></span>
        </p>
    <% end %>
  </div>
  <div class="clear"></div>
</div>