<!--------------Slideshow--------------->

<section class="featured">
  <div class="rslides_container">
    <ul class="rslides" id="slider">
      <li><%= image_tag image_path('portfolio/1.jpg') %></li>
      <li><%= image_tag image_path('portfolio/2.jpg') %></li>
      <li><%= image_tag image_path('portfolio/3.jpg') %></li>
      <li><%= image_tag image_path('slide1.png') %></li>
      <li><%= image_tag image_path('slide2.png') %></li>
      <li><%= image_tag image_path('slide3.png') %></li>
    </ul>
  </div>
</section>

<!--------------Content--------------->
<section id="content">
  <div class="zerogrid">
    <div class="row">
      <div class="main-content">
        <div class="row">
          <div class="col-1-3">
            <section>
              <div class="heading">
                <h2><a href="blog.html">Our Company</a></h2>
              </div>
              <div class="content">
                <%= image_tag image_path('icon1.jpg') %>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore. Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
              </div>
            </section>
          </div>
          <div class="col-1-3">
            <section>
              <div class="heading">
                <h2><a href="blog.html">Projects</a></h2>
              </div>
              <div class="content">
                <%= image_tag image_path('icon2.jpg') %>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore. Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
              </div>
            </section>
          </div>
          <div class="col-1-3">
            <section>
              <div class="heading">
                <h2><a href="blog.html">Information</a></h2>
              </div>
              <div class="content">
                <%= image_tag image_path('icon3.jpg') %>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore. Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
              </div>
            </section>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>