<footer>
  <div class="zerogrid">
    <div class="row wrapper">
      <section class="col-2-3">
        <div class="heading">About us</div>
      </section>
      <section class="col-1-3">
        <div class="heading">Bookmark it !</div>
        <div class="content">
          <%= image_tag image_path('icon1.gif') %>
          <%= image_tag image_path('icon2.gif') %>
          <%= image_tag image_path('icon3.gif') %>
          <%= image_tag image_path('icon4.gif') %>
          <%= image_tag image_path('icon5.gif') %>
        </div>
      </section>
    </div>
  </div>

  <div id="copyright">
    <p>Copyright © 2012 - Domain Name</p>
  </div>
</footer>